.bancos{
    padding: 3px 150px;
}
@media(min-width:1024px){
    .bancosimg{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "banco1 banco2 banco3 banco4 "
        "banco5 banco6 banco7 banco8 ";
    } 
}
.bancosimg img{
    width: 150px;
    height: 150px;
    margin: 20px;
 }

.banco1{
    grid-area: banco1;
}
.banco2{
    grid-area: banco2;
}
.banco3{
    grid-area: banco3;
}
.banco4{
    grid-area: banco4;
}
.banco5{
    grid-area: banco5;
}
.banco6{
    grid-area: banco6;
}
.banco7{
    grid-area: banco7;
}
.banco8{
    grid-area: banco8;
}

@media(max-width:800px){
    .bancosimg{ 
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "banco1 banco2"
        "banco3 banco4"
        "banco5 banco6"
        "banco7 banco8 "
        ;
    }
}
@media(max-width:464px){
    .bancosimg{
        
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "banco1 banco2 banco3 banco4 banco5 banco6 banco7 banco8";
    }
}