
.mainstart p{ 
    font-family: 'Cormorant SC', serif;
    font-size: 30px;
    

}
h2{
    font-family: 'Cormorant SC', serif;
    // border: solid 2px;
}
header nav ul li{
    font-size: 18px;
}
.buscanos{
    text-align: center;
    margin-top: 1cm;
}
.textfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    text-align: center;
}
.redes {
    font-size: 3rem;
    color: black; 
    display: flex;
    justify-content:space-around;
    
}
.insta:hover{
  color: red;
}
footer h2{
    color: red;
}
.titulo2{
    border: solid 2px;
    color: red;
    background-color: black;
    margin-bottom: 30px;
}
.subtitulo{
    font-family: 'Cormorant SC', serif;
}
.nav{
    font-family: 'Merriweather', serif;
    font-size: 20px;
}
.tarj{
    font-family: 'Merriweather', serif;
}
.titulospages{
    font-family: 'Cormorant SC', serif;
    font-size: 1.5rem;
}
button , input , textarea , label{
    font-family:'Cormorant SC', serif;
    font-size: 20px;
}

